@model HNS.Entities.Notice
@{
    ViewData["Title"] = "Notice";
    ViewData["BreadCrumb"] = "게시판관리,노티스";
    ViewData["CurrentMenu"] = "게시판관리";
    ViewData["CurrentMenuItem"] = "노티스";
}

<div class="bbs-write">
    <dl>
        <dt><label for="title">ID</label></dt>
        <dd><input type="text" id="wr_subject" name="wr_subject" title="제목 입력" readonly value="@Model.Id"></dd>
    </dl>
    <dl>
        <dt>날짜</dt>
        <dd><input type="text" id="wr_1" name="wr_1" title="URL 입력" readonly value="@Model.m_date"></dd>
    </dl>
    <dl>
        <dt>중요</dt>
        <dd><input type="text" id="wr_1" name="wr_1" title="URL 입력" readonly value="@(Model.m_important ? "Yes":"No")"></dd>
    </dl>
    <dl>
        <dt><label for="title">조회수</label></dt>
        <dd><input type="text" id="wr_subject" name="wr_subject" title="제목 입력" readonly value="@Model.m_read"></dd>
    </dl>

    <dl>
        <dt>제목</dt>
        <dd><input type="text" id="wr_subject" name="wr_subject" title="제목 입력" readonly value="@Model.m_title"></dd>
    </dl>

    <dl>
        <dt>설명</dt>
        <dd><input type="text" required readonly asp-for="m_explanation"></dd>
    </dl>

    <dl class="content" style="height:250px;">
        <dt style="padding-top: 0px;">본문</dt>
        <dd style="height:250px;padding-top: 0px; overflow:scroll;">
            @Html.Raw(Model.m_content)
        </dd>
    </dl>
</div>


<div class="btn_confirm01 btn_confirm">
    <a href="@Url.Action("NoticeEdit", "Community", new { id=Model.Id })">
        편집
    </a>
    <a href="@Url.Action("Notice", "Community")">
        다시 목록으로
    </a>
</div>
