@model AsInfoViewModel
@{
    ViewData["Title"] = "A/S Information";
}

<div class="sub_content sub07_01">
    <div class="_inner">
        <span class="sub_tit mb">A/S 신청안내</span>
        <div class="sub71_box1">
            <span class="info">
                A/S 접수는 <strong>택배접수 및 방문</strong>으로 받고 있습니다 .
                <span class="red">A/S 서비스를 신청하시기 전에 담당부서를 통해 상담을 통하여 이상유무를 확인 한 후 진행해 주시기 바랍니다. </span>
            </span>
            <span class="cont">
                서울시 금천구 가산디지털1로 88, 1406 (가산동, IT 프리미어타워), <br class="__m" />(주)에이치앤에스 품질기술부 <br />
                · 연락처 : <a href="tel:02-6402-8001">02-6402-8001(내선 4번)</a> <br class="__m" />  · 직통전화 : <a href="tel:070-7094-5004">070-7094-5004</a> <br class="__m" />  · 이메일 : <a href="mailto:tech@smartx.co.kr">tech@smartx.co.kr</a>
            </span>
        </div>

        <span class="sub71_tit">※ 방문 접수 ※</span>
        <p class="sub_txt">방문 예정시 유선으로 미리 처리가능 여부 및 A/S 가능 여부 시간을 확인하시고 방문해주시기 바랍니다. 방문후 A/S는 즉시 처리 원칙으로  진행하고 있으나 제품의 증상에 따라 처리 시간이 지연될수 있습니다.</p>

        <span class="sub71_tit">※ 택배접수 ※</span>
        <p class="sub71_txt sub71_txt1">택배를 접수처리 하실 경우 <strong class="red">A/S 접수 내역서</strong>를 다운받아 작성한 후 제품과 함께 반드시 동봉하여 보내주시기 바랍니다. <span>(담당자, 연락처, 증상 등 필수사항을 기재하여 발송해 주시기 바랍니다. 미 기재시 A/S 처리기간은 지연 될 수 있습니다. )</span></p>

        <!-- pc로 접속시만 보임 -->
        <form asp-controller="CustomerSupport" asp-action="AsInfo" method="post">
            <div class="web __p">
                <div class="sub71_btn" id="P_Editor">
                    <a href="#none" class="direct">A/S 접수 내역서 바로작성</a><!-- 클릭시 프린트 작성 폼 나옴 -->
                    @*<a href="#" id="printPdf" class="download">A/S 접수 내역서 다운로드</a>*@
                    <button type="submit" name="Command" value="Download" class="download">A/S 접수 내역서 다운로드</button>
                </div>

                <div class="print_wrap" style="@(ViewBag.Command != null && ViewBag.Command == "Print" ? "display:block;" : "")">
                    <a href="#none" class="print_x"><img src="~/template/images/print_x.gif" alt="창닫기" /></a>
                    <div class="print_box">
                        <strong class="tit">A/S 접수 내역서</strong>
                        <div class="warn">
                            <em class="red">* 필수항목</em>
                            <span class="sub_txt">FAX 또는 이메일은 하나는 반드시 기재해주시기 바랍니다. 기재하신 FAX또는 이메일로 a/s 처리 내역서가 발급됩니다.</span>
                        </div>

                        <table class="print_opt">
                            <colgroup>
                                <col width="15%" />
                                <col width="35%" />
                                <col width="15%" />
                                <col width="35%" />
                            </colgroup>
                            <tr>
                                <th><span class="red">업체명</span> </th>
                                <td><input type="text" asp-for="CompanyName" class="print_input" /></td>
                                <th><span class="red">담당자</span></th>
                                <td><input type="text" asp-for="Manager" class="print_input" />
                            </tr>
                            <tr>
                                <th><span class="red">연락처</span></th>
                                <td><input type="text" asp-for="Contact" class="print_input" /></td>
                                <th><span class="red">FAX</span></th>
                                <td><input type="text" asp-for="Fax" class="print_input" />
                            </tr>
                            <tr>
                                <th><span>휴대전화</span></th>
                                <td><input type="text" asp-for="CellPhone" class="print_input" /></td>
                                <th><span class="red">이메일</span></th>
                                <td><input type="text" asp-for="Email" class="print_input" />
                            </tr>
                            <tr>
                                <th><span class="red">제품명</span></th>
                                <td>
                                    <select class="print_sel" asp-for="ProductName">
                                        <option value="IEC266-Series">IEC266-Series</option>
                                        <option value="IEC266Lite - Series">IEC266Lite - Series</option>
                                        <option value="IEC667-Series">IEC667-Series</option>
                                        <option value="IEC667Lite - Series">IEC667Lite - Series</option>
                                        <option value="IEC1000-Series">IEC1000-Series</option>
                                        <option value="IEC1000Lite - Series">IEC1000Lite - Series</option>
                                        <option value="IEC1000XGA-I">IEC1000XGA-I</option>
                                        <option value="IEC-Series 다수">IEC-Series 다수</option>
                                        <option value="Smart I/O - Series">Smart I/O - Series</option>
                                        <option value="기타옵션제품">기타옵션제품</option>
                                    </select>
                                </td>
                                <th><span>Serial No.</span></th>
                                <td><input type="text" asp-for="SerialNumber" class="print_input" />
                            </tr>
                            <tr>
                                <th><span class="red">증상</span></th>
                                <td colspan="3">
                                    <select class="print_sel" asp-for="Symptom">
                                        <option value="터치파손">터치파손</option>
                                        <option value="lcd파손">lcd파손</option>
                                        <option value="부품파손">부품파손</option>
                                        <option value="전원이상">전원이상</option>
                                        <option value="Extension Port 이상">Extension Port 이상</option>
                                        <option value="Active sync 연결 이상">Active sync 연결 이상</option>
                                        <option value="SD 카드 인식 이상">SD 카드 인식 이상</option>
                                        <option value="USB HOST 이상">USB HOST 이상</option>
                                        <option value="이더넷 연결이상">이더넷 연결이상</option>
                                        <option value="통신 이상">통신 이상</option>
                                        <option value="OS 변경">OS 변경</option>
                                        <option value="부팅이상">부팅이상</option>
                                        <option value="프로그램 오류발생">프로그램 오류발생</option>
                                        <option value="기능 점검 요청">기능 점검 요청</option>
                                        <option value="화면이상">화면이상</option>
                                        <option value="사운드 출력 이상">사운드 출력 이상</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="vt"><span class="red">내용<br />(500자이내)</span></th>
                                <td colspan="3">
                                    <textarea class="print_write" rows="30" asp-for="Content"></textarea>
                                </td>
                            </tr>
                        </table>

                    </div>

                    @*<a href="#" onclick="printDiv()" class="print_go">프린트</a>*@
                    <button type="submit" id="asinfo_print" name="Command" value="Print" class="print_go">프린트</button>
                </div>
            </div><!-- //web -->
            <!-- //pc로 접속시만 보임 -->
        </form>

        <p class="sub71_txt sub71_txt2">제품 택배 발송 시 파손이 되지 않도록 주의하여 보내주시기 바랍니다.  <span>제품 포장으로 인한 운송시 제품 파손에 대해서는 자사 및 택배사에서 책임지지 않습니다. 운송간의 충격이 가해질수 있으므로 제품 이상 없도록 포장하여 보내주시기 바랍니다. </span></p>

        <div class="sub71_txt sub71_txt3">
            택배비 운송비 정책(왕복기준)<span>· 보증기간 이내 : 당사부담 &nbsp;&nbsp;&nbsp;&nbsp;     · 보증기간 이후 : 고객부담 </span>
            <div class="box">
                <p class="txt">[보증기간이내라도 택배비 고객부담인 경우] </p>
                <p class="txt">1. 사용자 과실로 인한 고장 및 고장으로 착각한 경우</p>
                <p class="txt">2. OS 변경 요청 시</p>
                <p class="txt">3. 퀵서비스 이용 시</p>
                <p class="txt">4. 제휴 택배사 외 타사 택배 이용 시</p>
            </div>
        </div>

        <p class="sub71_txt sub71_txt4">
            제휴 택배사 이용
            <span>· 롯데택배 접수 : 1588-2121( 에이치앤에스 회사명, 주소, 전화번호로 확인하여 접수 하시면 됩니다.)</span>
            <span class="red">· 가급적 제휴 택배사를 이용 부탁드립니다. 그 외 타사 택배를 이용하여 착불비가 발생되는 경우 고객부담으로 A/S 처리비용에 추가 청구 됩니다.</span>
        </p>

        <span class="sub_tit mb">A/S 보증기간 및 규정</span>
        <p class="sub71_period">1. 제품의 보증기간은 출고일로 부터 1년 입니다.<span>- Serial No. 기준(Serial No 훼손시 A/S 불가 합니다.)</span><span>- 보증기간 내에도 고장원인에 따라 유상수리가 진행 될 수 있습니다. </span></p>
        <p class="sub71_period mb">2. A/S는 당사 택배 회수만을 원칙으로 합니다.<span>- Rework Station 등 수리 장비의 부피에 의해 제약과 Aging등 다양한 테스트가 필요한 경우가 있으므로,  당사에서만 A/S를 진행하고 있습니다.(출장 A/S는 불가합니다.)</span></p>

        <span class="sub_tit mb">비용 청구 기준</span>
        <div class="sub71_tbl">
            <div class="tit">무상수리</div>
            <div class="txt">품질 보증기간내에 제조사의 겸함<br />정상적인 사용 상태에서 발생한 품질, 성능, 기능상의 하자로 인한 경우</div>
        </div>
        <div class="sub71_tbl">
            <div class="tit vt">유상수리</div>
            <div class="txt">
                품질 보증기간이 경과한 후 성능 불량 및 고장<br />소비자의 고의 또는 과실로 인한 불량 및 고장<br />제품의 개조 또는 변조하여 발생된 고장<br />품질 보증기간이 경과한 후 OS 업데이트<br />사용전원의 이상에 의한 고장<br />접속기기의 불량으로 인한 고장<br />천재지변에 의한 제품고장 및 결함<br /><br /># 유상처리 후 동일증상이 3개월 이내에 발생했을 경우 무상처리<br />(사용자 과실로 인한 수리,잘못된 전원인가, 천재지변에 대해서는 유상처리 됩니다.)
            </div>
        </div>
        <div class="sub71_tblinfo">
            <p class="sub_txt">유상처리일 경우 A/S 처리 전 미리 연락을 드려 안내한 후, 서비스를 진행하게 되며, 무상처리의 경우, 별도안내없이 진행될 수 있습니다. </p>
            <span class="txt"> ※ A/S 유상처리 결제는 선 입금으로 하고 있습니다. 입금 확인 후 제품 수리 및 제품 발송 되오니 이 점 유의하시기 바랍니다.</span>
        </div>

        <span class="sub_tit mb sub71_mt1">수리기간<em>(배송기간 별도)</em></span>
        <div class="sub71_tbl">
            <div class="tit vm">1 ~ 2일</div>
            <div class="txt">기본수리 및 부품교체, O/S 업데이트<br />LCD교체, 터치스크린교체, Main Board 교체</div>
        </div>
        <div class="sub71_tbl">
            <div class="tit vm">3일 이내</div>
            <div class="txt">CPU REWORK(Aging Test 포함)</div>
        </div>
        <div class="sub71_tbl">
            <div class="tit vm">3일 ~ 10일</div>
            <div class="txt">간헐적 불량(Aging 필요)</div>
        </div>
        <div class="sub71_tbl">
            <div class="tit vm">별도안내</div>
            <div class="txt">LCD 불량(원인파악 필요한 경우 제조사에 RMA 요청하며 이 경우, 수리기간은 별도로 안내)</div>
        </div>

        <span class="sub_tit mb sub71_mt1">배송기간<em>(수리기간 별도)</em></span>
        <div class="sub71_tbl">
            <div class="tit vm">입고기간</div>
            <div class="txt">고객사에서 당사로 입고까지 소요일로, 택배사의 사정에 따라 1 ~ 2일 소요예상<br />(택배사 사정에 의해 당사에 오후 3시 이후 입고분은 익일 입고로 처리됩니다.)</div>
        </div>
        <div class="sub71_tbl">
            <div class="tit vm">배송기간</div>
            <div class="txt">1 ~ 2일(택배사 사정에 따라 변동 가능)</div>
        </div>
        <div class="sub71_tblinfo">
            <span class="txt">※ 입고 배송기간에 주말이나 공휴일 포함 될 경우 해당일 만큼 가산됩니다. </span>
        </div>

        <span class="sub_tit sub71_mt1">A/S 절차</span>
        <div class="sub41_img2">
            <img src="~/template/images/sub71_img1.gif" alt="A/S 절차" />
        </div>



    </div>
    <!-- 서브에만 들어가는 탑 버튼-->
    <a href="#" class="go_top"><img src="~/template/images/go_top.png" alt="맨 위로"></a>
</div><!-- //sub_content -->
<!-- //서브 컨텐츠 // 이 아래부터 공통 -->

@section Bottom{

    @if (Model != null && !string.IsNullOrWhiteSpace(Model.CompanyName))
    {

        <div id="printpage">
            <table style="border-top:1px solid #707070;width:600px;border-collapse:collapse;margin:30px auto 0;">
                <colgroup>
                    <col width="100px" />
                    <col />
                </colgroup>
                <tr>
                    <th style="background:#f7f7f7;text-align:left;color:#333;font-weight:normal;vertical-align:top;font-size:14px;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:10px 0 10px 10px;">업체명</th>
                    <td style="font-size:14px;border-bottom:1px solid #e6e6e6;padding:10px 0 10px 10px;color:#222;"><span id="P_CompanyName1">@Model.CompanyName</span></td>
                </tr>
                <tr>
                    <th style="background:#f7f7f7;text-align:left;color:#333;font-weight:normal;vertical-align:top;font-size:14px;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:10px 0 10px 10px;">담당자</th>
                    <td style="font-size:14px;border-bottom:1px solid #e6e6e6;padding:10px 0 10px 10px;color:#222;"><span id="P_PersonInCharge1">@Model.Manager</span></td>
                </tr>
                <tr>
                    <th style="background:#f7f7f7;text-align:left;color:#333;font-weight:normal;vertical-align:top;font-size:14px;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:10px 0 10px 10px;">연락처</th>
                    <td style="font-size:14px;border-bottom:1px solid #e6e6e6;padding:10px 0 10px 10px;color:#222;"><span id="P_ContactNo1">@Model.Contact</span></td>
                </tr>
                <tr>
                    <th style="background:#f7f7f7;text-align:left;color:#333;font-weight:normal;vertical-align:top;font-size:14px;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:10px 0 10px 10px;">FAX</th>
                    <td style="font-size:14px;border-bottom:1px solid #e6e6e6;padding:10px 0 10px 10px;color:#222;"><span id="P_FaxNo1">@Model.Fax</span></td>
                </tr>
                <tr>
                    <th style="background:#f7f7f7;text-align:left;color:#333;font-weight:normal;vertical-align:top;font-size:14px;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:10px 0 10px 10px;">휴대전화</th>
                    <td style="font-size:14px;border-bottom:1px solid #e6e6e6;padding:10px 0 10px 10px;color:#222;"><span id="P_MobileNo1">@Model.CellPhone</span></td>
                </tr>
                <tr>
                    <th style="background:#f7f7f7;text-align:left;color:#333;font-weight:normal;vertical-align:top;font-size:14px;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:10px 0 10px 10px;">이메일</th>
                    <td style="font-size:14px;border-bottom:1px solid #e6e6e6;padding:10px 0 10px 10px;color:#222;"><span id="P_Email1">@Model.Email</span></td>
                </tr>
                <tr>
                    <th style="background:#f7f7f7;text-align:left;color:#333;font-weight:normal;vertical-align:top;font-size:14px;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:10px 0 10px 10px;">제품명</th>
                    <td style="font-size:14px;border-bottom:1px solid #e6e6e6;padding:10px 0 10px 10px;color:#222;"><span id="P_ProductName1">@Model.ProductName</span></td>
                </tr>
                <tr>
                    <th style="background:#f7f7f7;text-align:left;color:#333;font-weight:normal;vertical-align:top;font-size:14px;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:10px 0 10px 10px;">Serial No.</th>
                    <td style="font-size:14px;border-bottom:1px solid #e6e6e6;padding:10px 0 10px 10px;color:#222;"><span id="P_SerialNo1">@Model.SerialNumber</span></td>
                </tr>
                <tr>
                    <th style="background:#f7f7f7;text-align:left;color:#333;font-weight:normal;vertical-align:top;font-size:14px;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:10px 0 10px 10px;">증상</th>
                    <td style="font-size:14px;border-bottom:1px solid #e6e6e6;padding:10px 0 10px 10px;color:#222;"><span id="P_Symptom1">@Model.Symptom</span></td>
                </tr>
                <tr>
                    <th style="background:#f7f7f7;text-align:left;color:#333;font-weight:normal;vertical-align:top;font-size:14px;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;padding:10px 0 10px 10px;">내용</th>
                    <td style="font-size:14px;border-bottom:1px solid #e6e6e6;padding:10px 0 10px 10px;color:#222;"><span id="P_Contents1">@Model.Content</span></td>
                </tr>
            </table>
        </div>

    }


}


@section scripts
    {

    @if (ViewBag.Command != null && ViewBag.Command == "Print")
    {
        <script>
            window.print();
        </script>
    }


}


