@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!doctype html>
<html lang="ko">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>HNS 관리자</title>
    <link rel="stylesheet" href="~/template/admin/css/reset.css">
    <link rel="stylesheet" href="~/template/admin/css/common.css">
    <link rel="stylesheet" href="~/template/admin/css/admin.css">
    <link rel="stylesheet" href="~/template/admin/css/board.css">
    <link href="~/template/admin/css/custom.css" rel="stylesheet" />
    <script type="text/javascript" src="~/template/admin/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/template/admin/js/jquery.easing.1.3.js"></script>
    <script src="~/template/admin/js/jquery.menu.js"></script>

    @RenderSection("Scripts", required: false)

    <style>
        .paging_wrap {
            text-align: center;
        }

        .paging a {
            height: 20px;
            width: 20px;
            background-color: #ebebeb;
            padding: 8px;
            margin: 1px;
            line-height: 5;
        }
    </style>

</head>

<body>
    <!-- 각 페이지에 들어있는 스크립트 들은 기존 어드민 사이트들에 들어 있는 것이 그대로 반영되어 있습니다.
        필요 없으시면 삭제 하셔도 됩니다. -->

    <div id="utility">
        <div class="var">
            <p class="user-h"><a href="~/">사용자 홈</a></p>
            <dl class="log-info" onmouseover="showInfo();">
                <dt><a href="javascript:toggleInfo();">관리자님 로그인</a></dt>
                <dd id="adminInfo" style="display:none;">
                    <ul>
                        <li>
                            @*<a href="#"></a>*@
                            <form action="~/Account/Logout" method="post">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="logout-button" style="border: none;background-color: transparent;">관리자 로그아웃</button>
                            </form>

                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>

    <div id="wrap">
        <div id="aside">
            <h1>
                <a href="~/Admin">
                    <img src="~/template/admin/images/logo.png" alt="" />
                </a>
            </h1>
            @if (User.IsInRole("Administrators"))
            {
                <ul class="snb">
                    @*<li>
                        <a href="#"><span class="ico-money">환경설정</span></a>
                        <ul class="deps2 none">
                            <li>
                                <a href="#" class="on">사이트정보관리</a>
                            </li>
                            <li><a href="#" class="">검색엔진 최적화</a></li>
                        </ul>
                    </li>*@
                    <li>
                        <a href="#"><span class="ico-money">관리자정보관리</span></a>
                        <ul class="deps2 @(ViewData["CurrentMenu"]!=null && ViewData["CurrentMenu"].ToString().Equals("비밀번호 변경") ? "":"none")">
                            <li>
                                <a href="~/Admin/Home/ChangePassword" class="@(ViewData["CurrentMenuItem"]!=null && ViewData["CurrentMenuItem"].ToString().Equals("비밀번호 변경") ? "active":"")">비밀번호 변경</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="ico-money">게시판관리</span></a>
                        <ul class="deps2 @(ViewData["CurrentMenu"]!=null && ViewData["CurrentMenu"].ToString().Equals("게시판관리") ? "":"none") ">
                            <li><a href="~/Admin/Community/Notice" class="@(ViewData["CurrentMenuItem"]!=null && ViewData["CurrentMenuItem"].ToString().Equals("노티스") ? "active":"")">Notice</a></li>
                            <li><a href="~/Admin/Community/FAQ" class="@(ViewData["CurrentMenuItem"]!=null && ViewData["CurrentMenuItem"].ToString().Equals("FAQ") ? "active":"")">FAQ</a></li>
                            <li><a href="~/Admin/Community/Qna" class="@(ViewData["CurrentMenuItem"]!=null && ViewData["CurrentMenuItem"].ToString().Equals("QnA") ? "active":"")">QnA</a></li>
                            <li><a href="~/Admin/ReferenceRoom/TechNote" class="@(ViewData["CurrentMenuItem"]!=null && ViewData["CurrentMenuItem"].ToString().Equals("TECHNOTE") ? "active":"")">TECHNOTE</a></li>
                            <li><a href="~/Admin/ReferenceRoom/SmartXRelatedAdmin" class="@(ViewData["CurrentMenuItem"]!=null && ViewData["CurrentMenuItem"].ToString().Equals("SamartX Framework Versions") ? "active":"")">SamartX Framework Versions</a></li>

                            @*<li><a href="#" class="">관심고객등록</a></li>
                            <li><a href="#" class="">홍보센터</a></li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="ico-money">기타관리</span></a>
                        <ul class="deps2 @(ViewData["CurrentMenu"]!=null && ViewData["CurrentMenu"].ToString().Equals("기타관리") ? "":"none") ">
                            <li><a href="~/Admin/VisitorsInfo/Index" class="@(ViewData["CurrentMenuItem"]!=null && ViewData["CurrentMenuItem"].ToString().Equals("Popup Layers") ? "active":"")">접속자 집계</a></li>
                            <li><a href="~/Admin/PopupLayers/Index" class="@(ViewData["CurrentMenuItem"]!=null && ViewData["CurrentMenuItem"].ToString().Equals("Popup Layers") ? "active":"")">팝업레이어관리</a></li>
                            @*<li><a href="~/Admin/HeaderScript" class="@(ViewData["CurrentMenuItem"]!=null && ViewData["CurrentMenuItem"].ToString().Equals("Header Script") ? "active":"")">접속자집계</a></li>*@
                        </ul>
                    </li>
                </ul>
            }
        </div>
        <!-- //aside -->
        <div id="container">
            <div class="head">
                <h3><span class="sbjt">@ViewData["Title"]</span></h3>
                <div class="location">
                    <ul>
                        <li><img src="~/template/admin/images/loc_ico_home.gif" alt="Home" /></li>

                        @if (ViewData["BreadCrumb"] != null)
                        {
                            foreach (var bread in ViewData["BreadCrumb"].ToString().Split(','))
                            {
                                <li>@bread</li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="contents">

                <script>

        @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
    {
        <text>
            $(document).ready(function () {
                var msg = fromCharCodes('@ViewBag.ErrorMsg.ToString()');
            alert(msg);
            });
        </text>
}

        @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMsg))
    {
        <text>
            $(document).ready(function () {
                var msg = fromCharCodes('@ViewBag.SuccessMsg.ToString()');
            alert(msg);
            });
        </text>
}

        @if (TempData["ErrorMsg"] != null && !string.IsNullOrWhiteSpace(TempData["ErrorMsg"].ToString()))
    {
        <text>
            $(document).ready(function () {
                var msg = fromCharCodes('@TempData["ErrorMsg"].ToString()');
            alert(msg);
            });
        </text>
}

        @if (TempData["SuccessMsg"] != null && !string.IsNullOrWhiteSpace(TempData["SuccessMsg"].ToString()))
    {
        <text>
            $(document).ready(function () {
                var msg = fromCharCodes('@TempData["SuccessMsg"].ToString()');
                alert(msg);
            });
        </text>
}

                </script>


                @RenderBody()

                @*<form name="fconfigform" id="fconfigform" method="post" onsubmit="" enctype="multipart/form-data">
                        <h4 class="sbjt2"><span>사이트정보관리</span></h4>
                        <div class="bbs-write">
                            <dl>
                                <dt>홈페이지 제목</dt>
                                <dd>
                                    <input type="text" name="cf_title" value="" id="cf_title" required class="required frm_input" size="40">
                                </dd>
                            </dl>
                            <dl>
                                <dt>사이트 설명</dt>
                                <dd>
                                    <input type="text" name="cf_description" value="" id="cf_description" class="frm_input" size="40">
                                </dd>
                            </dl>
                            <dl>
                                <dt>네이버 사이트 등록 KEY</dt>
                                <dd>
                                    <input type="text" name="cf_naver_site" value="" id="cf_naver_site" class="frm_input" size="40">
                                </dd>
                            </dl>
                            <p class="refer">이미지 사이즈는 800*400으로 올려주세요</p>
                            <dl style="height:auto;padding-bottom:4px;">
                                <dt>사이트 이미지</dt>
                                <dd>
                                    <input type="file" name="cf_icon" id="cf_icon" style="width:50%">
                                </dd>
                            </dl>
                        </div>

                        <div class="btn_confirm01 btn_confirm">
                            <input type="submit" value="확인" class="btn-ty1 light" accesskey="s">
                        </div>
                    </form>*@
            </div>
            <div class="foot">COPYRIGHT ⓒ HNS. ALL RIGHTS RESERVED.</div>
        </div>
        <!-- //container -->
    </div>
    <noscript>
        <p>
            귀하께서 사용하시는 브라우저는 현재 <strong>자바스크립트를 사용하지 않음</strong>으로 설정되어 있습니다.<br>
            <strong>자바스크립트를 사용하지 않음</strong>으로 설정하신 경우는 수정이나 삭제시 별도의 경고창이 나오지 않으므로 이점 주의하시기 바랍니다.
        </p>
    </noscript>
    </div>
    </div>
    <!-- <p>실행시간 : 0.001662015914917 -->

    <script>

        function fromCharCodes(str) {
            var answer = "";

            var codeArray = str.replace(/&#/g, "").split(";");

            var code;

            for (var i = 0; i < codeArray.length; i++) {
                if (codeArray[i] == '.') {
                    answer += '.';
                }
                else {
                    code = new Number("0" + codeArray[i]);

                    if (!isNaN(code.valueOf())) {
                        answer += String.fromCharCode(code);
                    }
                    else {
                        if (codeArray[i].indexOf(' ') >= 0) {
                            answer += ' ';
                            code = new Number("0" + codeArray[i].replace(' ', ''));
                            answer += String.fromCharCode(code);
                        }
                    }
                }
            }

            return answer;
        }

    </script>

    <script src="~/template/admin/js/admin.js"></script>
    <script>
        $(function () {
            var hide_menu = false;
            var mouse_event = false;
            var oldX = oldY = 0;

            $(document).mousemove(function (e) {
                if (oldX == 0) {
                    oldX = e.pageX;
                    oldY = e.pageY;
                }

                if (oldX != e.pageX || oldY != e.pageY) {
                    mouse_event = true;
                }
            });

            // 주메뉴
            var $gnb = $(".gnb_1dli > a");
            $gnb.mouseover(function () {
                if (mouse_event) {
                    $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
                    $(this).parent().addClass("gnb_1dli_over gnb_1dli_on");
                    menu_rearrange($(this).parent());
                    hide_menu = false;
                }
            });

            $gnb.mouseout(function () {
                hide_menu = true;
            });

            $(".gnb_2dli").mouseover(function () {
                hide_menu = false;
            });

            $(".gnb_2dli").mouseout(function () {
                hide_menu = true;
            });

            $gnb.focusin(function () {
                $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
                $(this).parent().addClass("gnb_1dli_over gnb_1dli_on");
                menu_rearrange($(this).parent());
                hide_menu = false;
            });

            $gnb.focusout(function () {
                hide_menu = true;
            });

            $(".gnb_2da").focusin(function () {
                $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
                var $gnb_li = $(this).closest(".gnb_1dli").addClass("gnb_1dli_over gnb_1dli_on");
                menu_rearrange($(this).closest(".gnb_1dli"));
                hide_menu = false;
            });

            $(".gnb_2da").focusout(function () {
                hide_menu = true;
            });

            $('#gnb_1dul>li').bind('mouseleave', function () {
                submenu_hide();
            });

            $(document).bind('click focusin', function () {
                if (hide_menu) {
                    submenu_hide();
                }
            });

            //// 폰트 리사이즈 쿠키있으면 실행
            //var font_resize_act = get_cookie("ck_font_resize_act");
            //if (font_resize_act != "") {
            //    font_resize("container", font_resize_act);
            //}
        });

        function submenu_hide() {
            $(".gnb_1dli").removeClass("gnb_1dli_over gnb_1dli_over2 gnb_1dli_on");
        }

        function menu_rearrange(el) {
            var width = $("#gnb_1dul").width();
            var left = w1 = w2 = 0;
            var idx = $(".gnb_1dli").index(el);

            for (i = 0; i <= idx; i++) {
                w1 = $(".gnb_1dli:eq(" + i + ")").outerWidth();
                w2 = $(".gnb_2dli > a:eq(" + i + ")").outerWidth(true);

                if ((left + w2) > width) {
                    el.removeClass("gnb_1dli_over").addClass("gnb_1dli_over2");
                }

                left += w1;
            }
        }
    </script>

    <script>
        var tempX = 0;
        var tempY = 0;

        function imageview(id, w, h) {
            menu(id);

            var el_id = document.getElementById(id);

            //submenu = eval(name+".style");
            submenu = el_id.style;
            submenu.left = tempX - (w + 11);
            submenu.top = tempY - (h / 2);

            selectBoxVisible();

            if (el_id.style.display != 'none') {
                selectBoxHidden(id);
            }
        }

        function showInfo() {
            $("#adminInfo").show();
        }

        function toggleInfo() {
            $("#adminInfo").toggle();
        }

    </script>



</body>
</html>

